<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
     
        
         <listener class-name="listener.listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>
         

 </listeners>

  <test name="Scenarios Related to Open Weather Api">
    <classes>
      <class name="testCases.WeatherForcastTestCase"/>
          </classes>
      </test>
      
  
   <!-- Test -->
</suite> <!-- Suite -->
